
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate

# ADDITIONAL IGNORES

# Mac system files
.DS_Store
._*

# Windows system files
Thumbs.db
$RECYCLE.BIN/
